<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>ToDoApp</title>
    <style>
        p.warning {
            color: red;
        }

        ul {
            list-style-type: none;
        }

        button.erledigen {
            background-color: #FAFAEB;
            border: 0;
            font-size: larger;
        }
        body {background-color:#FAFAEB;}
    </style>
</head>
<body>
    <center>
            <h1><font face="brush">Aufgabenliste</font></h1>
    </center>

    <form action="/logout" method="post">
        <button type="submit">Abmelden</button>
    </form>

    <hr>
<h2>
    Hallo <span th:text="${user}"/>, hier sind deine offenen Aufgaben
</h2>

<ul th:if="${!alleOffenenAufgaben.empty}">
    <li th:each="aufg: ${alleOffenenAufgaben}">
        <form method="post" th:action="${'/aufgaben/' + aufg.id}">
            <button type="submit" class="erledigen" aria-label="Aufgabe abhaken">❎</button>  <!--Alternativ❎, sonst &#9744-->
            <input type="hidden" name="erledigt" value="true">
            <span th:text="${aufg.bezeichnung}">Aufgabe</span>
            <span th:text="${aufg.formattedErstellzeit}">Erstellzeit</span>
        </form>
    </li>
</ul>

<p th:if="${alleOffenenAufgaben.empty}">Du hast noch keine offenen Aufgaben</p>

<form method="post">
    <p class="warning" th:if="${fehlermeldung != null}" th:text="${fehlermeldung}"></p>
    <button type="submit">
        Aufgabe Hinzufügen
    </button>
    <input type="text" name="bezeichnung" th:value="${bezeichnung}" minlength="1" maxlength="20">
</form>

<!--Link-->
<a href ="/erledigt">
    Erledigte Aufgaben
</a>

</body>
</html>
