<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <style>
        p.warning {
            color: red;
        }



        ul {
            list-style-type: none;
        }


        li.ueberfaellig {
            color:red;
            font-weight:bold;
        }

        li.heuteFaellig {
            color:orange;

        }

        button.erledigen {
            background-color: #FAFAEB;
            border: 0;
            font-size: larger;
        }
        body {background-color:#FAFAEB;}
    </style>
  <title>ToDo App</title>
</head>
<body>
<center>
  <h1>Login</h1>
</center>

<hr>

<p th:if="${error}" th:text="${error}"></p>

<form method="post">
  <label>Name</label>
  <input type="text" name="name"/>
  <button type="submit">weiter</button>
</form>

</body>
</html>
