<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ToDoApp</title>
</head>
<body>
    <header>
        <center><h1>ToDoApp - Aufgabenliste</h1></center>

        <nav>
            <ul>
                <li><a href ="/aufgaben">Offene Aufgaben</a></li>
                <li><a href ="/erledigt">Erledigte Aufgaben</a></li>
                <li>
                    <form action="/logout" method="post">
                        <button type="submit">Abmelden</button>
                    </form>
                </li>
            </ul>
        </nav>

        <hr>
    </header>
</body>
</html>